body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 20px red;
}

header > h1 {
  margin: 50px;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;
}

nav > a {
  margin: 20px 0px 20px 0px;
  color: darkred;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  height: 70px;
}

footer > a {
  color: lightgray;
  text-decoration: none;
}

footer > p {
  color: white;
}

footer > p > a {
  color: white;
  text-decoration: none;
}

main#not-implemented {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.4;
}

main#not-implemented > img {
  width: 250px;
}

main#not-implemented > p {
  font-size: 24px;
}