body {
  margin: 0px;
}

/*
  suitable for all pages except for not-implemented page
 */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 20px darkred;
}

header > h1 {
  margin: 50px;
  font-size: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  border-top: solid 2px gray;
  border-bottom: solid 2px gray;
}

nav > a {
  margin: 20px 0px 20px 0px;
  color: darkred;
  text-decoration: none;
}

nav > a:hover {
  bottom: -5px;
  border-bottom: solid 5px red;
  margin-bottom: 15px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkred;
  height: 70px;
}

footer > a {
  color: lightgray;
  text-decoration: none;
}

footer > a:hover {
  color: white;
}

footer > p {
  color: white;
}

footer > p > a {
  color: white;
  text-decoration: none;
}

/*
  home page
 */
main#homepage > img {
  width: 100%;
} 

main#homepage > div {
  display: flex;
  justify-content: center;
}

main#homepage > div > section {
  margin: 20px 20px 20px 20px;
  padding: 15px;
  border: solid 3px darkred;
  border-radius: 5px;
  width: 400px;
}

/*
  products page
 */
main#products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 50px 50px 50px;
}

main#products > h2 {
  font-size: 36px;
}

main#products > div {
  display: flex;
  flex-flow: wrap;
}

#products-container > article {
  margin: 10px 10px 10px 10px;
  border: solid 2px darkred;
  border-radius: 5px;
  width: 300px;
}

.product-image-container img {
  width: 100%;
}

.product-info-container {
  padding: 20px;
}

.product-info-container > div {
  display: flex;
  justify-content: space-around;
}

.product-info-container > div > button {
  background-color: darkred;
  border: solid 1px darkred;
  border-radius: 5px;
  padding: 10px 5px 10px 5px;
  color: lightgray;
  cursor: pointer;
}

.product-info-container > div > button:hover {
  color: white;
}

#quick-view-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  border: solid 2px darkred;
  border-radius: 5px;
  background: white;
}

#quick-view-window-close-btn {
  position: absolute;
  right: 0px;
  background: darkred;
  color: white;
  cursor: pointer;
}

.product-image-container > div {
  display: flex;
}

.product-image-container > div > img {
  width: 50%;
}

.product-info-container > .price {
  font-size: 18px;
  font-weight: 600;
  color: red;
}

/*
  not implemented page
 */
main#not-implemented {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.4;
}

main#not-implemented > img {
  width: 250px;
}

main#not-implemented > p {
  font-size: 24px;
}